.jumbotron{
    background-color: rgba(110,110,110,0.8) !important;
    background-image: url(img/kopi.jpg);
    background-size: cover;
    background-blend-mode: color;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

section{
    padding-top: 4rem;
}

#Newsletter{
padding-top: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
